<div *ngIf="loading" class="loading-data">
  <mat-spinner></mat-spinner>
</div>

<section class="main">
  <div class="container-main">
    <mat-card class="login-container-card">

      <mat-card-header class="header-container-card">
        <mat-card-title><img class="logoRJ-login" mat-card-image [src]="logoRJ" alt="Secretaria de Saúde do Estado do Rio de Janeiro"></mat-card-title>
      </mat-card-header>

      <mat-card-content class="body-container-card">
        <mat-form-field [formGroup]="formRecovery" appearance="outline">

          <!-- Login -->
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="Usuario" (blur)="testarUsuario()" required>
          <mat-icon matSuffix *ngIf="!validLogin">person_2</mat-icon>
          <mat-icon matSuffix *ngIf="validLogin">how_to_reg</mat-icon>
          <mat-error class="error-access" *ngIf="!validLogin">{{ errorLoginMsg }}</mat-error>

          <!--<mat-label>CPF</mat-label>
          <input matInput
          formControlName="cpf"
          mask="000.000.000-00"
          (focusout)="checkCpf()" required>
          <mat-error class="error-access" *ngIf="!validCpf">{{ errorCpfMsg }}</mat-error>
        </mat-form-field>-->
        </mat-form-field>
          <!-- Ofício -->
        <mat-form-field [formGroup]="formRecovery" appearance="outline" *ngIf="!isAdm">
          <ngx-mat-file-input
          formControlName="Oficio"
          placeholder="Ofício"
          valuePlaceholder="Insira o ofício"
          (change)="checkOficio()" [required]="false"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error class="error-access" *ngIf="validOficio">{{ errorMsgOficio }}</mat-error>
        </mat-form-field>

        <mat-card-actions class="container-btn-access">
          <button mat-button
          [class]="(formRecovery.valid) ? 'btn-login-active':''"
          class="btn-login"
          [disabled]="!this.formRecovery.valid"
          (click)="onSubmit()"
          >Solicitar Recuperação de Senha</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</section>
