
<div class="section-main">
  <div class="row header-titulo" >
    <span>Usuários</span>
  </div>

  <!--<div class="empty-data" *ngIf="!getVerifyHasUser()">
    <mat-card>
      <mat-card class="container-card">
        <mat-card-title>Não há usuários cadastrados no sistema!</mat-card-title>
        <mat-divider inset></mat-divider>

        <mat-card-content class="container-card-btn">
          <button mat-button (click)="openDialog()">Cadastrar Novo Usuário</button>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>-->

  <div class="has-data">
    <div class="main-container-form">
      <app-tabela-usuarios></app-tabela-usuarios>
    </div>
  </div>

</div>
