
<div class="section-main">
  <div class="row header-titulo" >
    <span>Municípios</span>
  </div>

  <div class="empty-data" *ngIf="hasUnit === 2">
    <mat-card>
      <mat-card class="container-card">
        <mat-card-title>Não há municípios cadastrados no sistema!</mat-card-title>
        <mat-divider inset></mat-divider>

        <mat-card-content class="container-card-btn">
          <button mat-button (click)="openModalUnit()">Cadastrar Nova Unidade</button>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>

  <div class="has-data" *ngIf="hasUnit === 1">
    <div class="main-container-form">
      <app-tabela-municipios></app-tabela-municipios>
    </div>
  </div>

</div>
