<div class="secao-administrativo">
  <div class="grupo-conteudo">
  <div class="container container-faixas box-shadow-border-dark">
    <form class="row g-3 needs-validation" novalidate>

      <mat-form-field *ngIf="isAdm()" appearance="fill"  class="col-md-4">
        <mat-label>Municípios / Unidades</mat-label>
        <mat-select (ngModelChange)="getQuotes()" [formControl]="municipiosControl">
          <mat-optgroup *ngFor="let municipio of municipios" [label]="municipio.nome">
            <mat-option *ngFor="let unidade of municipio.unidades" [value]="unidade.nome" required>
              {{unidade.nome}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-hint>É preciso selecionar uma Unidade ou Município</mat-hint>
        <mat-error *ngIf="municipiosControl.hasError('required')">É preciso selecionar uma Unidade ou Município</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Tipo de Faixa</mat-label>
        <mat-select [formControl]="tipoFaixaControl">
          <mat-option *ngFor="let faixa of tipoFaixas" [value]="faixa.codigo" required>
            {{faixa.descricao}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tipoFaixaControl.hasError('required')">É preciso selecionar um tipo de faixa</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Competência</mat-label>
        <mat-select [formControl]="competenciaControl">
          <mat-option *ngFor="let ano of anos" [value]="ano" required>
            {{ano}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tipoFaixaControl.hasError('required')">É preciso selecionar o ano da competência</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Mês</mat-label>
        <mat-select [formControl]="mesControl">
          <mat-option *ngFor="let mes of meses" [value]="mes" required>
            {{mes}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tipoFaixaControl.hasError('required')">É preciso selecionar o ano da competência</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Quantidade de faixas</mat-label>
        <input [formControl]="qtdCotasControl" matInput placeholder="500" mask="9999" required>
        <mat-error *ngIf="tipoFaixaControl.hasError('required')">É preciso informar a quantidade de faixas</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Cotas Disponíveis</mat-label>
        <input [formControl]="cotasDisponiveisControl" matInput  placeholder="500" mask="0000">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Cotas Usadas</mat-label>
        <input [formControl]="cotasUsadasControl" matInput  placeholder="500" mask="0000" >
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-4">
        <mat-label>Cota Padrão</mat-label>
        <input [formControl]="cotasPadraoControl" matInput  placeholder="500" mask="0000">
      </mat-form-field>

      <div class="col-12 container-btn-submit">
          <button class="btn btn-primary" type="submit" [disabled]="!validFormSubmit()" (click)="formSub()">Gerar Faixas</button>
      </div>
    </form>
  </div>
</div>
</div>
