<div class="container-table">

  <div class="container-funcionalidades">
    <button mat-mini-fab class="btn-novo-cadastro" (click)="newUnit()"><mat-icon>add_circle</mat-icon></button>
    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex.AIH-Comum" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

    <ng-container matColumnDef="unitName" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Nome do Unidade </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.unitName}} </td>
    </ng-container>

    <ng-container matColumnDef="cnes">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> CNES da Unidade </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.cnes}} </td>
    </ng-container>

    <ng-container matColumnDef="phone" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Telefone </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="address" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Logradouro </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.address}} </td>
    </ng-container>

    <ng-container matColumnDef="number" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Número </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.number}} </td>
    </ng-container>

    <ng-container matColumnDef="complement" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Complemento </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.complement}} </td>
    </ng-container>

    <ng-container matColumnDef="zipCode" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Cep </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.zipCode}} </td>
    </ng-container>

    <ng-container matColumnDef="district" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Bairro </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.district}} </td>
    </ng-container>

    <ng-container matColumnDef="county" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Município </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.county.countyName}} </td>
    </ng-container>

    <ng-container matColumnDef="state" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Estado </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.county.state}} </td>
    </ng-container>

    <ng-container matColumnDef="status" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Status </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="editUnit">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Editar Motivo </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row">
        <button (click)=" editUnit(row)" class="btn btn-warning" mat-raised-button aria-label="Example icon button with a delete icon">
        <mat-icon> edit_note</mat-icon>
      </button> </td>
    </ng-container>

    <ng-container matColumnDef="desableEnableUnit">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Ativar / Desativar Motivo </th>
      <td mat-cell [class]="getClass(row.status)" *matCellDef="let row">
        <button (click)="disableEnableUnit(row)" [class]="getBtnActiveDesative(row.status)" mat-raised-button aria-label="Example icon button with a delete icon">
        <mat-icon> {{row.status === 'Ativo' ?  'check_circle': 'unpublished'}}</mat-icon>
      </button> </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum valor encontrado para o filtro: "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator (page)="getNewElements()" [pageSizeOptions]="[5, 10, lenght]" aria-label="Select page of users"></mat-paginator>
</div>
