<div class="container-table">
  <div class="row" style="width: 100%">
    <mat-form-field class="col-sm-9 col-md-6 col-lg-4 align-self-start">
      <mat-label>Filtrar:</mat-label>
      <input (keypress)="submeterFiltro($event)" id="inputFiltro" type="text" matInput [(ngModel)]="filtro">
      <button *ngIf="filtro" matSuffix mat-icon-button aria-label="Clear" (click)="filtro='';filtrar();">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="col-3">
      <button mat-raised-button color="primary" (click)="filtrar()">
        <fa-icon [icon]="faSearch"></fa-icon>&nbsp;Filtrar</button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">
    <!-- Cnes -->
    <ng-container matColumnDef="Cnes" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">CNES</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{row.Cnes}} </td>
    </ng-container>

    <!-- Descrição -->
    <ng-container matColumnDef="Descricao" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Nome da Unidade</th>
      <td style="white-space: nowrap" mat-cell *matCellDef="let row" [class]="getClass(row.Situacao)" > {{row.UnidadeDescricao}} </td>
    </ng-container>

    <!-- Município -->
    <ng-container matColumnDef="Municipio" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Município</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{row.NomeMunicipio}} </td>
    </ng-container>

    <ng-container matColumnDef="CotaAihComumMensal">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Cota AIH Comum Mensal</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{row.CotaAihComumMensal}} </td>
    </ng-container>

    <ng-container matColumnDef="CotaApacComumMensal">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Cota APAC Comum Mensal</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{row.CotaApacComumMensal}} </td>
    </ng-container>

    <ng-container matColumnDef="CotaAihEletivaMensal">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Cota AIH Eletiva Mensal</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{row.CotaAihEletivaMensal}} </td>
    </ng-container>

    <ng-container matColumnDef="CotaApacEletivaMensal">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Cota APAC Eletiva Mensal</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{row.CotaApacEletivaMensal}} </td>
    </ng-container>

    <ng-container matColumnDef="UsuarioResponsavel">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Usuário Responsável</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row">{{ row.UsuarioResponsavel }}</td>
    </ng-container>

    <ng-container matColumnDef="Situacao">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'">Situação</th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row">{{ row.Descricao }}</td>
    </ng-container>

    <ng-container matColumnDef="editarUnidade">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Editar Unidade </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row">
        <!--<button (click)=" editarUnidade(row)" class="btn btn-warning" mat-raised-button aria-label="Example icon button with a delete icon">
          <mat-icon> edit_note</mat-icon>
        </button> </td>-->
        <button mat-icon-button class="btn-outline-dark"  (click)="editarUnidade(row.Id)" >
          <fa-icon [icon]="faPen"></fa-icon>
        </button>
    </ng-container>

    <ng-container matColumnDef="desativarUnidade">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Ativar/Desativar Unidade </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row">
        <button *ngIf="row.Situacao == 1" mat-icon-button class="btn-outline-danger" (click)="desativarUnidade(row.Id)" >
          <fa-icon [icon]="faBan"></fa-icon>
        </button>
        <button *ngIf="row.Situacao == 0" mat-icon-button class="btn-outline-success" (click)="dialogConfirmarAtivarUnidade(row.Id)" >
          <fa-icon [icon]="faCheck"></fa-icon>
        </button>
        <!--<button (click)="ativarDesativarUnidade(row)" [class]="getBtnActiveDesative(row.Situacao)" mat-raised-button aria-label="Example icon button with a delete icon">
          <mat-icon> {{row.Situacao === 0 ?  'check_circle': 'unpublished'}}</mat-icon>
        </button>-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [colSpan]="columns.length">Nenhum resultado encontrado!</td>
    </tr>
  </table>

  <mat-paginator (page)="getNewElements()" [pageSizeOptions]="[5, 10, lenght]" aria-label="Select page of users"></mat-paginator>

  <div class="row" style="width: 100%;">
    <div class="col-12 pull-right">
      <button (click)="novaUnidade()" class="float-end" mat-raised-button color="primary">
        <fa-icon [icon]="faPlus"></fa-icon>&nbsp;Incluir unidade</button>
    </div>
  </div>
</div>

<!-- <button mat-mini-fab class="btn-novo-cadastro" (click)="novaUnidade()">
<mat-icon>add_circle</mat-icon></button>-->
