
<div class="section-main">
  <div class="row header-titulo" >
    <span>Motivos de Reprovação de Solicitações</span>
  </div>
  <!--<div class="empty-data" *ngIf="!hasData">
    <mat-card>
      <mat-card class="container-card">
        <mat-card-title>Não há Motivos de Reprovação Cadastrados</mat-card-title>
        <mat-divider inset></mat-divider>

        <mat-card-content class="container-card-btn">
          <button mat-button (click)="openDialog()">Cadastrar Motivo de Reprovação</button>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>-->

  <div class="has-data">
    <div class="main-container-form">
      <app-tabela-motivo-reprovacao></app-tabela-motivo-reprovacao>
    </div>
  </div>

</div>
