<div class="container-table">

  <div class="container-funcionalidades">
    <button mat-mini-fab class="btn-novo-cadastro" (click)="novoUsuario()"><mat-icon>add_circle</mat-icon></button>
    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex.AIH-Comum" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

    <ng-container matColumnDef="tipoUnidade" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Muncipio / Unidade </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{(row.unidade?.nome) ? row.unidade?.nome : row.municipio?.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="perfil" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Perfil </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.perfil}} </td>
    </ng-container>

    <ng-container matColumnDef="situacao" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Situação </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.situacao}} </td>
    </ng-container>

    <ng-container matColumnDef="nome" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Nome </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> CPF </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.cpf}} </td>
    </ng-container>

    <ng-container matColumnDef="nickname" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Nome Social </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.nickname}} </td>
    </ng-container>

    <ng-container matColumnDef="email" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> E-mail </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Telefone </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="oficioRequerido" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Oficio Requerido </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.oficioRequerido}} </td>
    </ng-container>

    <ng-container matColumnDef="aihComum" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Qtd de Faixas AIH Comuns </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.aihComum}} </td>
    </ng-container>

    <ng-container matColumnDef="aihEletiva" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Qtd de Faixas AIH Eletivas </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.aihEletiva}} </td>
    </ng-container>

    <ng-container matColumnDef="apacComum" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Qtd de Faixas PAC Comuns </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.apacComum}} </td>
    </ng-container>

    <ng-container matColumnDef="apacEletiva" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Qtd de Faixas PAC Eletivas </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row"> {{row.apacEletiva}} </td>
    </ng-container>

    <ng-container matColumnDef="editarMotivos" class="testando">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Editar Motivo </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row">
        <button (click)=" editarUsuario(row)" class="btn btn-warning" mat-raised-button aria-label="Example icon button with a delete icon">
        <mat-icon> edit_note</mat-icon>
      </button> </td>
    </ng-container>

    <ng-container matColumnDef="desativarMotivos">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Ativar / Desativar Motivo </th>
      <td mat-cell [class]="getClass(row.situacao)" *matCellDef="let row">
        <button (click)="ativarDesativarUsuario(row)" [class]="getBtnActiveDesative(row.situacao)" mat-raised-button aria-label="Example icon button with a delete icon">
        <mat-icon> {{row.situacao === 'Ativo' ?  'check_circle': 'unpublished'}}</mat-icon>
      </button> </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum valor encontrado para o filtro: "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator (page)="getNewElements()" [pageSizeOptions]="[5, 10, lenght]" aria-label="Select page of users"></mat-paginator>
</div>
