<div class="container-table">

  <div class="container-funcionalidades">
    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Informe um filtro" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

    <ng-container matColumnDef="dtSolicitacao">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Data da Solicitação </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.dataSolicitacao | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Usuário Solicitante</th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.apelido}} </td>
    </ng-container>

    <ng-container matColumnDef="municipioUnidade">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Município / Unidade </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.municipioUnidade}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoSolicitacao">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Tipo de Solicitação </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.descricaoTipoSolicitacao}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoDeFaixa">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Tipo de Faixa </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.tipoFaixaDescricao}} </td>
    </ng-container>

    <ng-container matColumnDef="qtdFaixasSolicitadas">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Quantidade de Faixas Solicitadas </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.qtdeFaixaExtraSolicitada}} </td>
    </ng-container>

    <ng-container matColumnDef="competencia">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Competência </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento.competencia}} </td>
    </ng-container>

    <ng-container matColumnDef="Oficio">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Ofício </th>
      <td mat-cell *matCellDef="let elemento" class="body-table"> {{elemento?.oficio}} </td>
    </ng-container>

    <ng-container matColumnDef="autorizarFaixas">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Aprovar Solicitação </th>
        <td mat-cell *matCellDef="let elemento" class="body-table">
        <button (click)="autorizarFaixa(elemento)" class=" btn btn-success" mat-raised-button>
        <mat-icon> check_circle_outline </mat-icon>
      </button> </td>
    </ng-container>

    <ng-container matColumnDef="negarFaixa">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Reprovar SOlicitação </th>
      <td mat-cell *matCellDef="let elemento" class="body-table">
        <button (click)="negarFaixa(elemento)" class="btn btn-danger" mat-raised-button>
        <mat-icon> remove_circle </mat-icon>
      </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
    <tr mat-row *matRowDef="let elemento; columns: tableHeader;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9" class="body-table">Nenhum valor encontrado para o filtro: "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator (page)="getDadosPorPagina()" [pageSizeOptions]="[5, 10, 100]" aria-label="Select page of users"></mat-paginator>
</div>
