<mat-dialog-content>
  <form [formGroup]="formMotivoReprovacao">
    <fieldset>
      <legend>Cadastrar Motivo de Reprovação de Solicitações</legend>
    </fieldset>

    <fieldset>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Motivo de Reprovação</mat-label>
        <input matInput formControlName="Descricao" maxlength="100">
        <mat-error *ngIf="formMotivoReprovacao.get('Descricao')?.hasError('required')">É preciso informar o motivo de cancelamento</mat-error>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Tipo de Solicitação</mat-label>
        <mat-select formControlName="IdTipoSolicitacao">
          <mat-option *ngFor="let solicitacao of tipoSolicitacao" [value]="solicitacao.Id" required>
            {{solicitacao.Descricao}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formMotivoReprovacao.get('IdTipoSolicitacao')?.hasError('required')">É preciso selecionar o tipo de solicitação</mat-error>
      </mat-form-field>
    </fieldset>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="closeModal()">Fechar</button>
  <button mat-button [mat-dialog-close]="motivoReprovacaoModel" cdkFocusInitial [disabled]="!formMotivoReprovacao.valid" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
