
<div class="container display-g grid-lg-3">
  <div class="col">
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuUm" class="card">
                <h4>Solicitações de Faixas Pendentes</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuDois" class="card">
                <h4>Solicitações de Alteração de Senha Pendentes</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuTres" class="card">
                <h4>Gerar Faixas</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuQuatro" class="card">
                <h4>Consultar Faixas</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuCinco" class="card">
                <h4>Motivos de Reprovação de Solicitação</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuSeis" class="card">
                <h4>Unidades</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuSete" class="card">
                <h4>Usuários</h4>
            </div>
        </div>
    </a>
    <a class="link-decoration">
        <div class="card-container">
            <div id="menuOito" class="card">
                <h4>Auditoria</h4>
            </div>
        </div>
    </a>
  </div>
</div>
