<form [formGroup]="formUsuario" class="row g-3">
  <fieldset>
    <legend>Dados do Usuário</legend>
    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-6">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="Nome">
        <mat-error *ngIf="formUsuario.get('Nome')?.hasError('required')">É preciso informar o nome do usuário</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="col-md-3">
        <mat-label>CPF</mat-label>
        <!--(focusout)="checkCPF()"-->
        <input (focusout)="checkCPF()" matInput formControlName="Cpf" value="{{ form.Cpf | mask: '000.000.000-00' }}" mask="000.000.000-00">
        <mat-error class="error-access" *ngIf="!cpfValido">{{ msgErroCPF }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="NomeUsuario" (blur)="verificarNomeUsuarioValido()">
        <mat-error *ngIf="formUsuario.get('NomeUsuario')?.hasError('required')">É preciso informar um nome de acesso válido!</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-6">
        <mat-label>Nome Social do Usuário</mat-label>
        <input matInput formControlName="NomeSocial">
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="Email"
               [errorStateMatcher]="matcher"
        >
        <mat-error *ngIf="formUsuario.get('Email')?.hasError('email') && !formUsuario.get('Email')?.hasError('required')">
          Por favor, informe um e-mail válido
        </mat-error>
        <mat-error *ngIf="formUsuario.get('Email')?.hasError('required')">É preciso informar o e-mail do usuário</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <!-- mask="(00) 0000-0000||(00) 0 0000-0000" [validation]="true" -->
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="Telefone" mask="(00) 0000-0000||(00) 0 0000-0000" [validation]="true" [dropSpecialCharacters]="false">
        <mat-error *ngIf="formUsuario.get('Telefone')?.hasError('required')">É preciso informar o telefone do usuário</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-md-12"
                      *ngIf="formUsuario.get('IdPerfilUsuario')?.value !== 1
                        && oficioObrigatorio
                      "
      >
        <ngx-mat-file-input
          formControlName="Oficio"
          placeholder="oficio"
          valuePlaceholder="Insira o ofício"
          (change)="checkOficio($event)" type="file"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
        <mat-error class="error-access" *ngIf="!oficioValido">{{ msgErroOficio }}</mat-error>
      </mat-form-field>
    </div>
  </fieldset>

  <fieldset>
    <legend>Informações de Controle</legend>

    <div class="row">
      <mat-form-field appearance="outline" class="col-md-2">
        <mat-label>Perfil</mat-label>
          <mat-select (ngModelChange)="setValidatorSolicitante($event); exigirOficio();"
            formControlName="IdPerfilUsuario">
            <mat-option *ngFor="let perfil of opcoesPerfil" [value]="perfil.Id" required (focusout)="validaNecessidadeOficio()">
              {{perfil.Descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formUsuario.get('IdPerfilUsuario')?.hasError('required')">É preciso selecionar o perfil do usuário</mat-error>
        </mat-form-field>

        <mat-form-field  appearance="outline" class="col-md-3" *ngIf="formUsuario.get('IdPerfilUsuario')?.value == 3">
          <mat-label>Solicitante</mat-label>
          <mat-select
          formControlName="IdTipoSolicitante" (selectionChange)="exigirOficio();">
            <mat-option *ngFor="let tipoUnidade of opcoesTipoUnidade" [value]="tipoUnidade.Id" required (focusout)="getMunicipioOuUnidade()">
              {{tipoUnidade.Descricao}}
            </mat-option>
          </mat-select>
          <!--<mat-error *ngIf="formUsuario.get('CodigoPerfil')?.value == 3
            && formUsuario.get('CodigoTipoSolicitante')?.hasError('required')-->
          <mat-error *ngIf=" formUsuario.get('IdTipoSolicitante')?.hasError('required')
          ">É preciso selecionar o tipo de unidade do usuário</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-5" *ngIf="formUsuario.get('IdTipoSolicitante')?.value === 2">
          <mat-label>Município</mat-label>
          <mat-select (selectionChange)="exigirOficio();"
          formControlName="CodigoIbgeMunicipio">
            <mat-option *ngFor="let municipio of opcoesMunicipio" [value]="municipio['CodigoIbge']" required >
              {{municipio['NomeMunicipio'] + " - " + municipio['CodigoIbge']}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formUsuario.get('CodigoIbgeMunicipio')?.hasError('required')">É preciso selecionar o município do usuário</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-5" *ngIf="formUsuario.get('IdTipoSolicitante')?.value === 1">
          <mat-label>Unidade</mat-label>
          <mat-select (selectionChange)="exigirOficio();"
          formControlName="IdUnidade">
            <mat-option *ngFor="let unidades of opcoesUnidades" [value]="unidades.Id" required >
              {{unidades.Descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formUsuario.get('IdUnidade')?.hasError('required')">É preciso selecionar a unidade do usuário</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-2">
          <mat-label>Situação</mat-label>
          <mat-select (selectionChange)="exigirOficio();"
          formControlName="Situacao">
            <mat-option *ngFor="let situacao of opcoesSituacao" [value]="situacao.Codigo" required>
              {{situacao.Descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formUsuario.get('Situacao')?.hasError('required')">É preciso selecionar a situação do usuário</mat-error>
        </mat-form-field>
    </div>
  </fieldset>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="closeModal()">Fechar</button>
  <button mat-button cdkFocusInitial [disabled]="!formUsuario.valid" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
