<div class="container-table">

  <div class="row" style="width: 100%; margin-top: 18px;">
    <mat-form-field class="col-sm-9 col-md-6 col-lg-4 align-self-start">
      <mat-label>Filtrar:</mat-label>
      <input (keypress)="submeterFiltro($event)" id="inputFiltro" type="text" matInput [(ngModel)]="filtro">
      <button *ngIf="filtro" matSuffix mat-icon-button aria-label="Clear" (click)="filtro='';filtrar();">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="col-3">
      <button mat-raised-button color="primary" (click)="filtrar()">
        <fa-icon [icon]="faSearch"></fa-icon>&nbsp;Filtrar</button>
    </div>
  </div>

  <!--<div class="container-funcionalidades">
    <button mat-mini-fab class="btn-novo-cadastro" (click)="novoUsuario()"><mat-icon>add_circle</mat-icon></button>
    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
  </div>-->

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

    <!-- Nome Completo -->
    <ng-container matColumnDef="NomeCompleto">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Nome completo </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.Nome }} </td>
    </ng-container>

    <!-- Nome Social -->
    <ng-container matColumnDef="NomeSocial">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Nome social </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.NomeSocial }} </td>
    </ng-container>

    <!-- Cpf -->
    <ng-container matColumnDef="Cpf">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> CPF </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.Cpf  }} </td>
    </ng-container>

    <!-- Telefone -->
    <ng-container matColumnDef="Telefone">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Telefone </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.Telefone }} </td>
    </ng-container>

    <!-- E-mail -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> E-mail </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.Email }} </td>
    </ng-container>

    <!-- Usuário -->
    <ng-container matColumnDef="Usuario">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Usuário </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.NomeUsuario }} </td>
    </ng-container>

    <!-- Situação -->
    <ng-container matColumnDef="Situacao">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Situação </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.DescricaoSituacao }} </td>
    </ng-container>

    <!-- Perfil -->
    <ng-container matColumnDef="Perfil">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Perfil </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.DescricaoPerfilUsuario }} </td>
    </ng-container>

    <!-- Solicitante -->
    <ng-container matColumnDef="Solicitante">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Solicitante </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row"> {{ row.Solicitante }} </td>
    </ng-container>

    <!-- Ofício -->
    <ng-container matColumnDef="Oficio">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Ofício </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="visualizarHistoricoOficios(row.Id)" >
          <fa-icon [icon]="faFile"></fa-icon>
        </button>
      </td>
    </ng-container>

    <!-- Ações -->
    <ng-container matColumnDef="Acoes">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header [style.placeContent]="'center'"> Ações </th>
      <td mat-cell [class]="getClass(row.Situacao)" *matCellDef="let row" style="text-align: right; white-space: nowrap;">
        <button title="Editar usuário" mat-icon-button color="primary" (click)="editarUsuario(row.Id)" >
          <fa-icon [icon]="faPen"></fa-icon>
        </button>
        <button title="Excluir usuário" mat-icon-button color="warn" (click)="excluirUsuario(row.Id)" >
          <fa-icon [icon]="faClose"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum valor encontrado!</td>
    </tr>
  </table>

  <mat-paginator (page)="getNewElements()" [pageSizeOptions]="[5, 10, lenght]" aria-label="Select page of users"></mat-paginator>

  <div class="row" style="width: 100%; margin-bottom: 18px;">
    <div class="col-12 pull-right">
      <button (click)="novoUsuario()" class="float-end" mat-raised-button color="primary">
        <fa-icon [icon]="faPlus"></fa-icon>&nbsp;Incluir usuário</button>
    </div>
  </div>
</div>
