<div class="container-table">

  <div class="container-funcionalidades">
    <button mat-mini-fab class="btn-novo-cadastro" (click)="novoUsuario()"><mat-icon>add_circle</mat-icon></button>
    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex.AIH-Comum" #input>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">

    <ng-container matColumnDef="codigoPerfil">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> Perfil </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{tipoPerfil(row.codigoPerfil)}} </td>
    </ng-container>

    <ng-container matColumnDef="codigoSituacao">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> Situação </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{tipoSituacao(row.codigoSituacao)}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeUsuario">
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{row.nomeUsuario}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> CPF </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{row.cpf}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeSocial" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> Nome Social </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{row.apelido}} </td>
    </ng-container>

    <ng-container matColumnDef="email" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> E-mail </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> Telefone </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{row.telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="oficio" >
      <th mat-header-cell class="header-table" *matHeaderCellDef mat-sort-header> Oficio Requerido </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row"> {{row.nomeOficioAutorizador}} </td>
    </ng-container>

    <ng-container matColumnDef="editarMotivos" class="testando">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Editar Motivo </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row">
        <button (click)=" editarUsuario(row)" class="btn btn-warning" mat-raised-button>
        <mat-icon> edit_note</mat-icon>
      </button> </td>
    </ng-container>

    <ng-container matColumnDef="desativarMotivos">
      <th mat-header-cell class="header-table" *matHeaderCellDef [style]="{justify: 'end', width: '20px'}"> Ativar / Desativar Motivo </th>
      <td mat-cell [class]="classUsuarioAtivadoDesativado(row.codigoSituacao)" *matCellDef="let row">
        <button (click)="ativarDesativarUsuario(row)" [class]="btnUsuarioAtivadoDesativado(row.codigoSituacao)" mat-raised-button>
        <mat-icon> {{row.codigoSituacao !== 1 ?  'check_circle': 'unpublished'}}</mat-icon>
      </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="10" class="body-table">Nenhum valor encontrado para o filtro: "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator (page)="getNewElements()" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
</div>
