

<form [formGroup]="unitForm" class="row g-3">

  <fieldset>
    <legend>Informações de Controle</legend>

    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-6">
        <mat-label>Nome da Unidade</mat-label>
        <input matInput formControlName="unitName">
        <mat-error *ngIf="unitForm.get('unitName')?.hasError('required')">É preciso informar o nome da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>CNES da Unidade</mat-label>
        <input matInput (focusout)="checkCNES()" formControlName="cnes"  mask="0000000" [readonly]="!newRegister">
        <mat-error *ngIf="unitForm.get('cnes')?.hasError('required')">É preciso informar o CNES da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Telefone da Unidade</mat-label>
        <input matInput formControlName="phone" mask="(00) 0000-0000">
        <mat-error *ngIf="unitForm.get('phone')?.hasError('required')">É preciso informar telefone de contato da unidade</mat-error>
      </mat-form-field>
    </div>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>

    <div class="row container-autoFill">
      <mat-checkbox class="col-md-12" formControlName="autoFill">Preencher automaticamente pelo CEP</mat-checkbox>
    </div>

    <div class="row">
     <mat-form-field appearance="outline"  class="col-md-9">
       <mat-label>Logradouro</mat-label>
       <input matInput formControlName="address">
       <mat-error *ngIf="unitForm.get('address')?.hasError('required')">É preciso informar o logradouro da unidade</mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline"  class="col-md-3">
       <mat-label>Número</mat-label>
       <input matInput formControlName="number">
     </mat-form-field>
   </div>

    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-9">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complement">
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Cep</mat-label>
        <input (focusout)="getZipCode()" matInput formControlName="zipCode"mask="00000-000">
        <mat-error *ngIf="unitForm.get('zipCode')?.hasError('required')">É preciso informar o cep da unidade</mat-error>
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Bairro da Unidade</mat-label>
        <input matInput formControlName="district">
        <mat-error *ngIf="unitForm.get('district')?.hasError('required')">É preciso informar o bairro da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Município da Unidade</mat-label>
        <input matInput formControlName="county">
        <mat-error *ngIf="unitForm.get('county')?.hasError('required')">É preciso informar o Município da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Estado</mat-label>
        <mat-select
        formControlName="state">
          <mat-option *ngFor="let state of statesOptions" [value]="state" required>
            {{state}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="unitForm.get('state')?.hasError('required')">É preciso selecionar a Estado de origem da unidade</mat-error>
      </mat-form-field>
    </div>
  </fieldset>

</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="closeModal(2)">Fechar</button>
  <button mat-button cdkFocusInitial [disabled]="!unitForm.valid" (click)="save()">Salvar</button>
</mat-dialog-actions>
