<form [formGroup]="formUnidade" class="row g-3">
  <fieldset>
    <legend>Informações de Controle</legend>

    <div class="row">
      <!-- Cnes -->
      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>CNES da Unidade</mat-label>
        <input matInput (focusout)="checkCNES()" formControlName="Cnes"  mask="0000000">
        <mat-error *ngIf="formUnidade.get('Cnes')?.hasError('required')">É preciso informar o CNES da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-6">
        <mat-label>Nome da Unidade</mat-label>
        <input matInput formControlName="Descricao" oninput="this.value = this.value.toUpperCase()">
        <mat-error *ngIf="formUnidade.get('Descricao')?.hasError('required')">É preciso informar o nome da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Telefone da Unidade</mat-label>
        <input matInput formControlName="Telefone" mask="(00) 0000-0000">
        <mat-error *ngIf="formUnidade.get('Telefone')?.hasError('required')">É preciso informar telefone de contato da unidade</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Situação</mat-label>
        <mat-select
          formControlName="Situacao">
          <mat-option *ngFor="let situacao of opcoesSituacao" [value]="situacao.Codigo" required>
            {{situacao.Descricao}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formUnidade.get('Situacao')?.hasError('required')">É preciso selecionar a situação da unidade</mat-error>
      </mat-form-field>
    </div>
  </fieldset>

  <legend>Cotas de solicitação de faixas</legend>
  <fieldset>
    <div class="row">

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Cota AIH Comum Mensal</mat-label>
        <input matInput formControlName="CotaAihComumMensal" type="number">
        <mat-error *ngIf="formUnidade.get('CotaAihComumMensal')?.hasError('required')">É preciso informar uma cota AIH Comum Mensal para esta unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Cota APAC Comum Mensal</mat-label>
        <input matInput formControlName="CotaApacComumMensal" type="number" >
        <mat-error *ngIf="formUnidade.get('CotaApacComumMensal')?.hasError('required')">É preciso informar uma cota APAC Comum Mensal para esta unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Cota AIH Eletiva Mensal</mat-label>
        <input matInput formControlName="CotaAihEletivaMensal" type="number">
        <mat-error *ngIf="formUnidade.get('CotaAihEletivaMensal')?.hasError('required')">É preciso informar uma cota AIH Eletiva Mensal para esta unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Cota APAC Eletiva Mensal</mat-label>
        <input matInput formControlName="CotaApacEletivaMensal" type="number">
        <mat-error *ngIf="formUnidade.get('CotaApacEletivaMensal')?.hasError('required')">É preciso informar uma cota APAC Eletiva Mensal para esta unidade</mat-error>
      </mat-form-field>

    </div>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>

    <div class="row container-preenchimentoAutomatico">
      <mat-checkbox class="col-md-12" formControlName="preenchimentoAutomatico">Preencher automaticamente pelo CEP</mat-checkbox>
    </div>

    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-2">
        <mat-label>Cep</mat-label>
        <input (focusout)="getCep()" matInput formControlName="Cep"mask="00000-000">
        <mat-error *ngIf="formUnidade.get('Cep')?.hasError('required')">É preciso informar o cep da unidade</mat-error>
      </mat-form-field>

     <mat-form-field appearance="outline"  class="col-md-5">
       <mat-label>Logradouro</mat-label>
       <input matInput formControlName="Endereco">
       <mat-error *ngIf="formUnidade.get('Endereco')?.hasError('required')">É preciso informar o logradouro da unidade</mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline"  class="col-md-2">
       <mat-label>Número</mat-label>
       <input matInput formControlName="Numero">
       <mat-error *ngIf="formUnidade.get('Numero')?.hasError('required')">É preciso informar o número da unidade</mat-error>
     </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="Complemento">
      </mat-form-field>
   </div>

    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-3 hidden" style="display: none">
        <input matInput formControlName="Situacao">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Município da Unidade</mat-label>
        <!--<input matInput formControlName="Municipio">-->
        <mat-select formControlName="CodigoIbgeMunicipio">
          <mat-option *ngFor="let municipio of opcoesMunicipio" [value]="municipio.CodigoIbge" required>
            {{ municipio.NomeMunicipio + " (" + municipio.CodigoIbge + ")" }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formUnidade.get('CodigoIbgeMunicipio')?.hasError('required')">É preciso informar o município da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Bairro da Unidade</mat-label>
        <input matInput formControlName="Bairro">
        <mat-error *ngIf="formUnidade.get('Bairro')?.hasError('required')">É preciso informar o bairro da unidade</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Estado</mat-label>
        <mat-select
          formControlName="Estado">
          <mat-option *ngFor="let estado of opcoesEstados" [value]="estado.Sigla" required>
            {{estado.Sigla + " - " + estado.Descricao}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formUnidade.get('Estado')?.hasError('required')">É preciso selecionar a Estado de origem da unidade</mat-error>
      </mat-form-field>
    </div>
  </fieldset>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button cdkFocusInitial [disabled]="!formUnidade.valid" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
