/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005C94;
}

/* Loading */

.loading-data {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 54, 54, 0.7);
  z-index: 99999;
}

/* MODALS */

.error-modal {
  background-color: #F8D7DA !important;
}

.warning-modal {
  background-color: #FFF3CD !important;
}

.success-modal {
  background-color: #D1E7DD !important;
}

.info-modal {
  background-color: #FEFEFE !important;
}

.common-modal {
  background-color: #F8F9FA !important;
}


.mat-dialog-container {
  background-color: transparent !important;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content.ng-star-inserted {
  display: initial;
}

/* Material */

.mat-error {
  color: #f44336;
  font-size: 12px;
  font-weight: 500;
}

.header-titulo {
  color: #333;
  font-weight: 600;
  text-align: center;
  margin-right: 18px;
  margin-left: 18px;
  font-size: 25px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 12px;
}
